@mixin for-big-desktop {
  @media (min-width: 87.5em) {
    @content;
  }
}

.element {
  background: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.element__symbol {
  font-size: 2rem;
}

.element__name {
  @include for-big-desktop {
    font-size: 0.75rem;
  }
}

$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal
  alkalineEarthMetal actinide metalloid otherNonMetal;

@each $type in $types {
  .element--#{$type} {
    $step: 360 / length($types);
    $hue: $step * index($types, $type);
    background-color: hsl($hue, 50, 50);
  }
}

$periods: 9;
$groups: 18;

@for $period from 0 through $periods {
  @for $group from 0 through $groups {
    [data-period="#{$period}"][data-group="#{$group}"] {
      @include for-big-desktop {
        grid-row: #{$period};
        grid-column: #{$group};
      }
    }
  }
}
